<h1>Your Job Applications: </h1>


<% @applications.each do |application| %>

   <h3>Company</h3><li><%= application.company %></li><br>
   <h3>Title</h3><li><%= application.job_title.title %></li><br>
   <h3>Location</h3><li><%= application.job_location %></li><br>
   <h3>Salary (if applicable)</h3><li><%= application.job_salary %></li><br>
   <h3>Job Posting URL</h3><li><%= application.job_url %></li><br>
   <h3>Description</h3><li><%= application.description %></li><br>
   <h3>Date Applied</h3><li><%= application.date_applied %></li><br>

   <p><%= link_to "Edit Application", edit_application_path(application) %></p>
<p><%= link_to "Delete Application", application_path(application), method: 'delete' %></p>

<% end %>

 <p><%= link_to 'Add New Job Application', new_application_path %></p>








