<h1>Your Job Applications: </h1>

<% @applications.each do |application| %>

    <%= application.company %>
    <%= application.job_title %>
    <%= application.job_location %>
    <%= application.job_salary %>
    <%= application.job_url %>
    <%= application.description %>

<% end %>