<p><a href="#" class="js-next" data-id="<%=@application.id%>">Next Application</a></p>
<h3 class="applicationCompany"><%= @application.company %></h1>
<p class="applicationJobTitle">Position: <%= @application.job_title.title %></p>
<p class="applicationLocation">Location: <%= @application.job_location %></p>
<p class="applicationJobSalary">Job Salary: <%= @application.job_salary %></p>
<p class="applicationJobUrl">Job URL: <%= @application.job_url %></p>
<p class="applicationDescription">Description: <%= @application.description %></p>
<p class="applicationDateApplied">Date Applied: <%= @application.date_applied %></p>

<ol>
    <% @application.comments.each do |comment| %>
    <li><%= comment.content %></li>
    <% end %>
</ol>



    
<p>Add a comment: </p>
    <%= render 'comments/form' %>



<p><%= link_to "Edit", edit_application_path(@application) %></p>
<p><%= link_to "Delete", application_path(@application), method: 'delete' %></p>

<p><%= link_to "Add new job application", new_application_path %></p>

<h3><%=link_to "View my applications", applications_path %></h3>


