<h1>Your Current Job Applications</h1>


<% @user.applications.each do |application| %>


    <%= application.company %>
    <%= application.job_title %>
    <%= application.job_location %>
    <%= application.job_salary %>
    <%= application.job_url %>
    <%= application.description %>
    <%= application.date_applied %>
    <% end %>

   <%= link_to 'Add new job application', new_application_path %></h3>