<h1>Your Current Job Applications:</h1>

<h3><%= link_to 'See all job titles', user_job_titles_path(@user) %></h3>



<% @user.applications.each do |application| %>


    <ul><h3><%= application.company %></h3>
    <li><p><%= application.job_title.title %></p></li>
    <li><p><%= application.job_location %></p></li>
    <li><p><%= application.job_salary %></p></li>
    <li><p><%= application.job_url %></p></li>
    <li><p><%= application.description %></p></li>
    <li><p><%= application.date_applied %></p></li>
   </ul>

    <p><%= link_to "Edit Application", edit_application_path(application) %></p>
    <p><%= link_to "Delete Application", application_path(application), method: 'delete' %></p>
    <% end %>

  

   <p><%= link_to 'Add new job application', new_application_path %></h3></p>
